<md-dialog flex="50">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nota</h2>
      <span flex></span>
      <md-button ng-click="cancelar()" class="md-icon-button" ng-click="cancel()">
        <md-icon class="material-icons" aria-label="Fechar">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{nota.titulo}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column">
        <div>
          <span class="md-subhead">{{nota.conteudo}}</span>
        </div>
        <div>
          <span class="md-caption">{{nota.categoria}}</span>
        </div>
      </md-card-content>
    </md-card>

    <md-dialog-actions>
      <md-button ng-click="cancelar()">Cancelar</md-button>
      <span flex></span>
    </md-dialog-actions>
  </md-dialog-content>

</md-dialog>
